.projects__card {
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    height: 10em;
    gap: 2em;
    transform: translateY(0);
    transition: transform .5s ease;
  }

  .projects__card-dark {
    background-color: #2a2828;
    color: #fff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #dddbdb;
    height: 10em;
    gap: 2em;
    transform: translateY(0);
    transition: transform .5s ease;
  }
  
  .projects__card:hover {
    transform: translateY(-10px);
    transition: transform .5s ease;
    cursor: pointer;
  }
  
  .projects__card__heading {
      font-size: 1.5em;
      margin: 0;
  }
  
  .projects__card__text {
      font-size: 1em;
      margin: 0;
  }